In [23]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [24]:
df =pd.read_csv('olxcleaned.csv')

In [25]:
lb = LabelEncoder()
df['Make_Encode'] = lb.fit_transform(df['Make'])

In [26]:
lb = LabelEncoder()
feature = {} 
for k in df.columns:
     if df[k].dtypes=='O':
         df[str(k)+'_Encode'] = lb.fit_transform(df[k])
         gt = {}
         ke = df[[k,str(k)+'_Encode']].drop_duplicates()[str(k)+'_Encode'].values
         val = df[[k,str(k)+'_Encode']].drop_duplicates()[k].values
         for i in range(len(ke)):
             gt[val[i]] = str(ke[i])
         feature[k] = gt

In [27]:
feature

{'Make': {'Toyota': '10',
  'Suzuki': '9',
  'Daihatsu': '2',
  'Honda': '4',
  'Hyundai': '5',
  'Mitsubishi': '8',
  'KIA': '6',
  'Changan': '0',
  'FAW': '3',
  'Mercedes': '7',
  'Chevrolet': '1'},
 'Model': {'Passo': '44',
  'Ravi': '47',
  'Bolan': '4',
  'Move': '42',
  'Swift': '52',
  'Wagon R': '55',
  'Mira': '41',
  'City IDSI': '8',
  'Cultus VXR': '23',
  'Every': '27',
  'Corolla XLI': '20',
  'Baleno': '3',
  'City Vario': '10',
  'Terios Kid': '53',
  'Civic Prosmetic': '13',
  'City IVTEC': '9',
  'Santro': '48',
  'Corrolla Altis': '21',
  'City Aspire': '7',
  'Mehran VXR': '38',
  'Cuore': '24',
  'Pajero Mini': '43',
  'Picanto': '45',
  'Alto': '2',
  'Karvaan': '33',
  'X-PV': '56',
  'Hijet': '30',
  'Ek Wagon': '26',
  'Altis Grande': '1',
  'E Class': '25',
  'Yaris': '57',
  'Lancer': '35',
  'Corolla GLI': '19',
  'Joy': '32',
  'Civic Oriel': '12',
  'Classic': '16',
  'Spectra': '49',
  'V2': '54',
  'Minicab Bravo': '40',
  'Corolla Assista': '17',
  'Alsvin': '0',
  'C Class': '5',
  'Minica': '39',
  'Exclusive': '29',
  'Civic VTi': '14',
  'Cervo': '6',
  'Sportage': '50',
  'Corolla Axio': '18',
  'Every Wagon': '28',
  'Liana': '36',
  'Civic EXi': '11',
  'Surf': '51',
  'Mehran VX': '37',
  'Civic VTi Oriel': '15',
  'Khyber': '34',
  'Cultus VXL': '22',
  'Prius': '46',
  'ISIS': '31'},
 'Fuel': {'Petrol': '3', 'CNG': '0', 'Hybrid': '2', 'Diesel': '1'},
 'Registration city': {'Unregistered': '57',
  'Karachi': '25',
  'Lahore': '30',
  'Sindh': '51',
  'Faisalabad': '15',
  'Islamabad': '21',
  'Sialkot': '50',
  'Gujranwala': '16',
  'Punjab': '43',
  'Multan': '37',
  'Rawalpindi': '46',
  'Bahawalpur': '5',
  'Hyderabad': '20',
  'Rahimyar Khan': '45',
  'Chishtian Mandi': '11',
  'Chiniot': '10',
  'Wazirabad': '60',
  'Sahiwal': '47',
  'Gujrat': '17',
  'Abbottabad': '0',
  'Khanewal': '27',
  'Peshawar': '41',
  'Sargodha': '48',
  'Bannu': '6',
  'Nowshera': '39',
  'Kasur': '26',
  'Arifwala': '1',
  'Jhang Sadar': '23',
  'Dera Ghazi Khan': '13',
  'Mardan': '33',
  'Attock': '2',
  'Larkana': '31',
  'Unknown': '56',
  'Jhelum': '24',
  'Khanpur': '28',
  'Wah': '59',
  'Okara': '40',
  'Bhakkar': '7',
  'Sheikh√ºpura': '49',
  'Swat': '54',
  'Dera Ismail Khan': '14',
  'Khushab': '29',
  'Bhimber': '8',
  'Mansehra': '32',
  'Mirpur': '35',
  'Quetta': '44',
  'Vehari': '58',
  'Hafizabad': '18',
  'Charsadda': '9',
  'Toba Tek singh': '55',
  'Jaranwala': '22',
  'Pirmahal': '42',
  'Haripur': '19',
  'Mirpur Khas': '36',
  'Bahawalnagar': '4',
  'Swabi': '53',
  'Dadu': '12',
  'Mianwali': '34',
  'Sukkar': '52',
  'Badin': '3',
  'Nawabshah': '38'},
 'Car documents': {'Original': '1', 'Duplicate': '0'},
 'Assembly': {'Imported': '0', 'Local': '1'},
 'Transmission': {'Automatic': '0', 'Manual': '1'},
 'Condition': {'Used': '0'}}

In [29]:
import json 
with open('encdata.json','w') as jsonfile:
    json.dump(feature,jsonfile,indent=4)

In [30]:
df.columns

Index(['Make', 'Model', 'Year', 'KM's driven', 'Price', 'Fuel',
       'Registration city', 'Car documents', 'Assembly', 'Transmission',
       'Condition', 'Make_Encode', 'Model_Encode', 'Fuel_Encode',
       'Registration city_Encode', 'Car documents_Encode', 'Assembly_Encode',
       'Transmission_Encode', 'Condition_Encode'],
      dtype='object')

In [32]:
df.drop(["Make","Model","Fuel","Registration city","Car documents","Assembly","Transmission","Condition"],axis = 1, inplace =True)

In [33]:
df

,Year,KM's driven,Price,Make_Encode,Model_Encode,Fuel_Encode,Registration city_Encode,Car documents_Encode,Assembly_Encode,Transmission_Encode,Condition_Encode
0,2021,54000,4190000,10,44,3,57,1,0,0,0
1,2018,95000,1300000,9,47,3,25,1,1,1,0
2,2015,50000,800000,9,4,3,25,1,1,1,0
3,2013,94000,2155000,2,42,3,30,1,0,0,0
4,2011,126544,1440000,9,52,3,25,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9174,2014,115000,2725000,9,55,3,21,1,0,0,0
9175,2017,100000,1850000,9,55,3,30,1,1,1,0
9176,2001,123456,1100000,6,49,3,30,1,0,0,0
9177,2009,89000,970000,9,2,3,30,1,0,1,0
9178,2016,95000,2050000,2,42,3,16,1,0,0,0

# Machine Learning Model (Linear Regression)

In [35]:
y = df['Price']
x = df.drop(['Price','Condition_Encode'],axis = 1)

In [36]:
x

,Year,KM's driven,Make_Encode,Model_Encode,Fuel_Encode,Registration city_Encode,Car documents_Encode,Assembly_Encode,Transmission_Encode
0,2021,54000,10,44,3,57,1,0,0
1,2018,95000,9,47,3,25,1,1,1
2,2015,50000,9,4,3,25,1,1,1
3,2013,94000,2,42,3,30,1,0,0
4,2011,126544,9,52,3,25,1,1,1
...,...,...,...,...,...,...,...,...,...
9174,2014,115000,9,55,3,21,1,0,0
9175,2017,100000,9,55,3,30,1,1,1
9176,2001,123456,6,49,3,30,1,0,0
9177,2009,89000,9,2,3,30,1,0,1
9178,2016,95000,2,42,3,16,1,0,0

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.25, random_state= 2529)

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
lr = LinearRegression()

In [41]:
lr.fit(x_train,y_train)

LinearRegression()

In [42]:
lr.score(x_test,y_test)

0.5920441808954293

In [43]:
np.array(x.head(1))

array([[ 2021, 54000,    10,    44,     3,    57,     1,     0,     0]],
      dtype=int64)

In [44]:
lr.predict([[2021, 54000,    10,    44,     3,    57,     1,     0,     0]])

c:\Users\AdmiN\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([3342070.46511105])

In [45]:
import pickle
with open('model.pickle', 'wb') as model_file:
    pickle.dump(lr,model_file)